$primary: #5D2CFF;
$secondary: #373737;
$success: #566246;
$info: #52c8fa;
$danger: #FE4A49;
$light: #F5F4FA;
$dark: #464d65;
$btn-focus-box-shadow: none !important;

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Rajdhani:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Rajdhani:wght@700&family=Roboto:wght@300;500;700&display=swap');
@import '~bootstrap/scss/bootstrap';

* {
  transition-duration: 300ms;
}

body,
html {
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
  min-height: 100vh;
}

.head {
  font-family: 'Rajdhani', sans-serif;
}

.no-decoration:hover {
  text-decoration: none !important;
}

.text-grey {
  color: #6c757d;
}

.close {
  position: absolute;
  right: 10px;
  top: 0;
  z-index: 999;
  font-size: 2rem;
  font-weight: normal;
  color: #000;
  opacity: 1;
}

.hoverPointer {
  cursor: pointer;
}

.no-btn-shadow:focus {
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
  box-shadow: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

input:-webkit-autofill {
  -webkit-text-fill-color: #072366 !important;
}